# compiled output
/dist
.DS_Store
node_modules
.env.development
.env.production
.vercel
dist
services/ui-service/.next
services/ui-service/.vercel
services/ui-service/*.tsbuildinfo
services/ui-service/out
services/api-service/build