name: Daily API Call

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  call-api:
    runs-on: ubuntu-latest
    env:
      CRON_EXECUTE_URL: ${{ secrets.CRON_EXECUTE_URL }}

    steps:
      - name: Call Cashflow Execution API endpoint
        run: |
          curl -X GET ${{ secrets.CRON_EXECUTE_URL }} \
            -H "Content-Type: application/json"
