name: Daily API Call

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  call-api:
    runs-on: ubuntu-latest

    steps:
      - name: Call Cashflow Execution API endpoint
        run: |
          curl -X GET "https://api-fluxwallet.vercel.app/apps/cashflow/execute" \
            -H "Content-Type: application/json"
